vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_dependenciesood:IR|0
vti_webservertype:SR|diskweb
vti_categories:VR|出張 経費報告 ビジネス 競合製品 ゴール/目標 アイデア その他 準備中 VIP 進行中 プラン スケジュール
vti_navbuttonnextlabel:SR|進む
vti_themedefault:SR|zero 1111
vti_textindexood:IR|0
vti_approvallevels:VR|内容のレビュー 法務のレビュー コードのレビュー 管理者のレビュー
vti_timecreated:TR|22 Aug 2019 00:23:43 -0000
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|戻る
vti_borderdefault:SR|tl
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_oldestcompatibleversion:SR|2.0.0.0
vti_structfrom_localhost\\c\:\\users\\mizor\\documents\\my webs\\myweb/c\:/users/mizor/documents/my webs/myweb:TR|22 Aug 2019 00:35:58 -0000
vti_restartmanual:IX|0
vti_defaultcharset:SR|shift_jis
vti_defaultlanguage:SR|ja
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|false
vti_autorecalc:IX|1
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|ホーム
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_missingoverlays:VX|
vti_missingoverlaylabels:VX|
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.
vti_httpdversion:SX|FrontPage DBW
vti_ignorekeyboard:IR|1
vti_navbuttonuplabel:SR|上へ
